<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Nopcommerce Automation Testing">

    <test name="Run on Chrome Browser">
        <classes>
            <class name="Register_Company.TC_01" />

        </classes>
    </test>

</suite> <!-- Suite -->